<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="45717600-0770-4c23-b460-06b3127054d9" name="Project 1 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="45717600-0770-4c23-b460-06b3127054d9fileName">Project-1-TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
