<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d2050f88-301e-4087-ba08-969b0a925670" wadlVersion="http://wadl.dev.java.net/2009/02" name="/Te Rito APIs_Additional" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d2050f88-301e-4087-ba08-969b0a925670fileName">%2FTe-Rito-APIs_Additional</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
